.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__delete-button {
  background: transparent url(../images/Trash.svg) center no-repeat;
  border-style: hidden;
  cursor: pointer;
  position: absolute;
  width: 18px;
  height: 19px;
  top: 18px;
  right: 15px;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: inter, Arial, Helvetica;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  max-width: 187px;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-botton.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border-style: hidden;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/like-button-active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
}
