.footer {
  margin-top: 67px;
  margin-bottom: 60px;
}

.footer__text {
  color: #545454;
  font-family: inter, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
}

@media screen and (max-width: 770px) {
  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
  }

  .footer__text {
    font-size: 14px;
  }
}
