.page {
  background-color: black;
  color: white;
  margin: 0 20px;
  max-width: calc(100% - 40px);
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto 0;
}

@media screen and (max-width: 620px) {
  .page {
    max-width: 100%;
    margin: 0;
  }
}
